.thanks {
  font-size: var(--common-font-size);
  text-align: center;

  &-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 20px auto;

    svg {
      width: inherit;
      height: inherit;
    }
  }
}