.thanks {
  text-align: center;
  font-size: var(--common-font-size);

  &-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 20px auto;

    svg {
      width: inherit;
      height: inherit;
    }
  }
}