.category-banner {
  position: relative;
  height: 160px;
  border-radius: var(--primary-radius);

  &-open {
    height: unset;
    p {
      height: unset !important;
    }
  }
  &-price-list {
    display: block;
    margin-top: 10px;
    padding: 10px 15px;
    font-weight: var(--hard-font);
    text-align: center;
    background-color: var(--yellow);
    border-radius: var(--primary-radius);
  }

  &-image {
    padding: 20px 20px 20px 20px;
    &:after,
    &:before {
      border-radius: var(--primary-radius);
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--transparent);
    border: none;
    svg {
      transform: rotate(-90deg);
      * {
        fill: var(--white);
      }
    }
  }

  h1 {
    margin-top: 0;
    color: var(--white);
    font-weight: var(--hard-font);
    font-size: var(--normal-font-size);
    text-transform: uppercase;
  }

  p {
    height: 70px;
    margin: 0;
    overflow: hidden;
    color: var(--white);
    font-size: var(--normal-font-size);
  }

  & &-text {
    & p {
      height: unset;
    }
  }

  &-dark {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    border-radius: var(--primary-radius);
    opacity: 0.7;
  }
}

@media only screen and (min-width: 750px) {
  .category-banner {
    &-price-list {
      position: absolute;
      top: 10px;
      right: 10px;
      margin: 0;
    }
    p {
      width: 50%;
    }
    &-btn {
      width: 50%;
    }
  }
}

@media only screen and (min-width: 1030px) {
  .category-banner {
    width: var(--big-container);
    height: 300px;
    &-image {
      padding: 150px 65px 45px 65px;
    }
    &-open {
      height: unset;
      p {
        height: unset !important;
      }
    }
    h1 {
      font-size: var(--common-font-size);
    }

    p {
      height: 95px;
      font-size: var(--primary-font-size);
    }
  }
}
