.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  &-is-available {
    color: var(--white-grey);
    font-weight: var(--bold-font);
    font-size: var(--normal-font-size);
  }
  &-title {
    display: none;
  }
  &-text {
    font-size: var(--normal-font-size);
  }
  &-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 40px 0;
    }
    &-title {
      font-weight: var(--bold-font);
      font-size: var(--normal-font-size);
      text-transform: uppercase;
    }
    font-weight: var(--bold-font);
    font-size: var(--massive-font-size);
    &-not-a-number {
      font-size: var(--normal-font-size);
    }
  }
  &-add {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 215px;
    margin-left: auto;
    &-dec,
    &-inc {
      position: relative;
      width: 15px;
      height: 15px;
      margin-right: 15px;
      background-color: var(--white);
      border: none;
      outline: none;
      cursor: pointer;
    }
    &-dec {
      &::before {
        position: absolute;
        display: block;
        width: 10px;
        height: 2px;
        background-color: var(--white-grey);
        content: '';
      }
    }

    &-inc {
      margin-left: 15px;
    }
    &-amount {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 30px;
      margin: unset;
      color: var(--black);
      font-size: var(--primary-font-size);
      line-height: 21px;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }
  }
  &-select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85px;
    height: 30px;
    margin-left: 30px;
    padding: 0 10px;
    color: var(--black);
    font-size: var(--primary-font-size);
    line-height: 21px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    &-measure {
      margin-right: 5px;
    }
    & svg {
      transform: rotate(-90deg);
      transition: transform 0.3s ease;
      & * {
        fill: black;
      }
    }
    &-dropdown {
      position: absolute;
      top: 30px;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      height: 0px;
      overflow: hidden;
      background-color: var(--white);
      box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.11);
      &--open {
        height: unset;
        min-height: 42px;
        overflow: visible;
      }
      &-item {
        cursor: pointer;
        &:hover {
          background-color: var(--yellow);
        }
      }
    }
    &--open {
      & svg {
        transform: rotate(90deg);
      }
    }
  }
  &-btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 40px;
    margin: 25px 0 0 auto;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    background-color: var(--yellow);
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
  }
  &-measurment {
    color: var(--white-grey);
    font-weight: var(--thin-font);
    font-size: var(--small-font-size);
  }
  &-warning {
    display: block;
    margin-bottom: 30px;
    font-weight: var(--bold-font);
    font-size: var(--normal-font-size);
  }
  .contact-steps-form {
    max-width: 385px;
    &-submit {
      background-color: var(--yellow);
      border: none;
      box-shadow: var(--button-form);
    }
  }
}

@media only screen and (min-width: 360px) {
  .product-info {
    width: var(--small-container);
  }
}

@media only screen and (min-width: 1100px) {
  .product-info {
    display: grid;
    grid-column-gap: 80px;
    grid-template-columns: 574px auto;
    width: var(--medium-container);
    &-rb {
      padding: 30px 0;
    }
    &-title {
      display: block;
      margin: 0;
      font-weight: var(--bold-font);
      font-size: var(--massive-font-size);
      text-transform: uppercase;
    }
    &-text {
      max-width: 445px;
      font-size: var(--primary-font-size);
    }
    &-price {
      &-wrapper {
        margin: 40px 0;
      }
      &-title {
        font-size: var(--common-font-size);
      }
      padding-right: 20px;
      font-size: var(--little-bigger-than-big-font);
      &-not-a-number {
        font-size: var(--common-font-size);
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .product-info {
    justify-content: inherit;
    width: var(--big-container);
  }
}
