.catalog {
  &-icon {
    display: flex;
    pointer-events: none;
  }
  &-container {
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    -webkit-tap-highlight-color: var(--transparent);
  }

  &-title {
    display: flex;
    width: 260px;
    padding: 15px;
    font-weight: var(--bold-font);
    line-height: 1.6;
    text-transform: uppercase;

    &-wrapper {
      display: flex;

      & svg {
        margin-right: 25px;
      }
    }
  }
}

.is-catalog-active {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--white);

  .catalog-title {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid var(--border-color);
  }
}

header {
  & > .catalog-container {
    background-color: var(--yellow);
    border: none;
    & .catalog-title {
      margin: auto;
    }
  }

  & > .is-catalog-active {
    position: static;
    height: auto;

    & .catalog-title {
      width: 260px;
      border-bottom: none;
    }

    & > .categories,
    & > .sub-categories {
      position: fixed;
      top: 140px;
      z-index: 10;
      height: calc(100% - 140px);
      overflow-y: scroll;
    }
  }

  .category {
    &:after {
      right: 15px;
    }
  }
}

@media only screen and (min-width: 1030px) {
  header > .catalog-container {
    display: none;
  }

  header .catalog-container {
    width: 370px;
    height: 65px;
    background-color: var(--yellow);
    border-bottom: none;

    & .catalog-title {
      width: 100%;
      height: 100%;
      padding: 0;
      border: none;

      &-wrapper {
        width: 100%;
        height: 100%;
        line-height: 4.2;

        & svg {
          margin: auto 25px;
        }
      }
    }
  }

  .is-catalog-active {
    position: relative;
    width: 285px;
    height: 60px;
  }
}
