.good {
  width: 170px;
  height: 290px;
  margin: 15px auto;
  text-decoration: none;
  background-color: var(--light-grey);

  &-image-container {
    height: 180px;
  }

  .gatsby-image-wrapper {
    height: 100%;
  }

  &-price {
    color: var(--black);
    font-weight: var(--hard-font);
    font-size: var(--normal-font-size);
    line-height: 2;

    &-container {
      display: flex;
      justify-content: space-around;
    }
  }

  &-title {
    margin: 12px 0;
    color: var(--black);
    font-weight: var(--hard-font);
    font-size: var(--normal-font-size);
    text-align: center;
  }
}

@media only screen and (min-width: 370px) {
  .good {
    margin: 15px 0;
  }
}

@media only screen and (min-width: 1030px) {
  .good {
    width: 255px;
    height: 380px;

    &-image-container {
      height: 275px;
    }
  }
}
