.cart-page {
  & .cart {
    &__products {
      width: 100%;
      background-color: var(--very-light-gray);
      &-wrapper {
        box-sizing: border-box;
        margin: 25px 20px 0;
        padding: 0 0 40px 0;
        background-color: var(--white);
        border-radius: 20px;
      }
      &-title {
        margin: unset;
        padding: 0 20px;
        color: var(--black);
        font-weight: var(--bold-font);
        font-size: var(--primary-font-size);
        line-height: 21px;
        text-transform: uppercase;
      }
    }
  }
}
