.cart-page {
  & .cart {
    &__products {
      width: 100%;
      background-color: #f4f4f4;
      &-wrapper {
        box-sizing: border-box;
        margin: 0 20px;
        padding: 0 0 40px 0;
        background-color: white;
        border-radius: 20px;
      }
      &-title {
        margin: unset;
        color: var(--black);
        font-weight: var(--bold-font);
        font-size: 17px;
        line-height: 21px;
        text-transform: uppercase;
      }
    }
  }
}
