.cart {
  &-product {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0 7px;
    padding: 25px 20px;
    & .gatsby-image-wrapper {
      grid-row: 1/4;
      grid-column: 1;
      width: 70px;
      height: 122px;
      object-fit: contain;
    }
    &-title {
      display: flex;
      grid-row: 1;
      grid-column: 2;
      justify-content: space-between;
      margin: unset;
      color: var(--black);
      font-weight: var(--hard-font);
      font-size: var(--primary-font-size);
      line-height: 21px;
    }
    &-remove {
      font-size: var(--huge-font-size);
      cursor: pointer;
    }
    &-code {
      display: flex;
      grid-row: 2;
      grid-column: 2;
      align-items: center;
      justify-content: flex-start;
      margin: 15px 0 0 0;
      padding: 4px 7px 3px 7px;
      color: var(--white-grey);
      font-size: var(--small-font-size);
      line-height: 15px;
      background-color: var(--very-light-gray);
      border-radius: 10px;
    }
    &-price {
      grid-row: 3;
      grid-column: 2;
      margin: 10px 0 0 0;
      color: var(--black);
      font-weight: var(--bold-font);
      font-size: var(--primary-font-size);
      line-height: 21px;
    }
    &-action {
      display: flex;
      grid-row: 4;
      grid-column: 1/3;
      align-items: center;
      margin-top: 30px;
    }
    &-dec,
    &-inc {
      position: relative;
      width: 15px;
      height: 15px;
      margin-right: 15px;
      background-color: var(--white);
      border: none;
      outline: none;
      cursor: pointer;
    }
    &-dec {
      &::before {
        position: absolute;
        display: block;
        width: 10px;
        height: 2px;
        background-color: var(--white-grey);
        content: '';
      }
    }

    &-inc {
      margin-left: 15px;
    }
    &-amount {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 30px;
      margin: unset;
      color: var(--black);
      font-size: var(--primary-font-size);
      line-height: 21px;
      border: 1px solid var(--cart-border-color);
      border-radius: 10px;
    }
    &-select {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 85px;
      height: 30px;
      margin-left: 30px;
      padding: 0 10px;
      color: var(--black);
      font-size: var(--primary-font-size);
      line-height: 21px;
      border: 1px solid var(--cart-border-color);
      border-radius: 10px;
      cursor: pointer;
      &-measure {
        margin-right: 5px;
      }
      & svg {
        transform: rotate(-90deg);
        transition: transform 0.3s ease;
        & * {
          fill: black;
        }
      }
      &-dropdown {
        position: absolute;
        top: 25px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        height: 0px;
        overflow: hidden;
        background-color: var(--white);
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.11);
        &--open {
          height: unset;
          min-height: 42px;
          overflow: visible;
        }
        &-item {
          cursor: pointer;
          &:hover {
            background-color: var(--yellow);
          }
        }
      }
      &--open {
        & svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .cart {
    &-product {
      grid-template-columns: 1fr 4fr;
      &-code {
        max-width: 110px;
        margin: unset;
      }
      &-price {
        margin-top: 15px;
      }
      &-action {
        grid-row: 3;
        margin: unset;
        margin-left: auto;
      }
    }
  }
}
